<article class="contact bg-[#f9f9f9] py-6">
    <div class="contact-body px-4 sm:px-14 md:px-16 lg:px-20">
        <header>
            <h1 class="text-center text-xl md:text-2xl lg:text-3xl text-mainColor font-semibold uppercase pb-3 sm:py-10 md:py-6">contact us</h1>
        </header>
        <div class="content grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-0 mt-4">
            <div class="contact-talk bg-white p-4 md:p-6 rounded-2xl lg:rounded-r-none text-base sm:text-lg lg:text-[17px] xl:text-[19px] lg:border-r border-dashed border-gray-400 space-y-6 pb-8">
            <p class="flex items-center gap-x-2.5 sm:gap-x-4">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" class="w-[20px]" fill="#680a08"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/>
              </svg>
                <strong>Email :</strong> furniturelaterra&#64;gmail.com
            </p>
            <p class="flex items-center gap-x-2.5 sm:gap-x-3 lg:gap-x-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="#680a08"  class="w-[20px]">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0l6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z">
                </path>
            </svg>
                <strong>Phone Number :</strong> +201093816616</p>
            <p class="flex items-center gap-x-2.5 sm:gap-x-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-[22px]" viewBox="0 -960 960 960" fill="#680a08"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/>
                </svg>
                <strong>Location :</strong> Kafr El Battikh, Damietta
            </p>
              </div>
              <div class="contact-us bg-white p-4 md:p-6 rounded-2xl lg:rounded-l-none">
                <h2 class="text-lg md:text-xl lg:text-[23px] font-bold pb-6">Sent Us</h2>
                <div class="body space-y-5">
                    <div class="name flex flex-col sm:flex-row gap-y-5 sm:gap-y-0 gap-x-6">
                        <div class="first sm:w-1/2">
                            <input type="text" class="w-full px-3 py-2 rounded-lg  text-textColor border border-gray-300 placeholder:text-gray-400 placeholder:text-sm sm:placeholder:text-base focus:border-textColor focus:outline-none" placeholder="First Name"/>
                        </div>
                        <div class="last sm:w-1/2">
                            <input type="text" class="w-full px-3 py-2 rounded-lg text-textColor border border-gray-300 placeholder:text-gray-400 placeholder:text-sm sm:placeholder:text-base focus:border-textColor focus:outline-none" placeholder="Last Name"/>
                        </div>
                    </div>
                    <div class="number">
                        <input type="number" class="w-full px-3 py-2 rounded-lg text-textColor border border-gray-300 placeholder:text-gray-400 placeholder:text-sm sm:placeholder:text-base focus:border-textColor focus:outline-none" placeholder="Mobile Number"/>
                    </div>
                    <div class="mail">
                        <input type="email" class="w-full px-3 py-2 rounded-lg text-textColor border border-gray-300 placeholder:text-gray-400 placeholder:text-sm sm:placeholder:text-base focus:border-textColor focus:outline-none" placeholder="Email"/>
                    </div>
                    <div class="message">
                        <textarea placeholder="Your Message" class="w-full h-36 px-3 py-2 rounded-lg  border border-gray-300 placeholder:text-gray-400 placeholder:text-sm sm:placeholder:text-base focus:border-textColor focus:outline-none"></textarea>

                    </div>
                    <button class="w-full relative overflow-hidden sm:text-xl px-4 py-2 rounded-full bg-mainColor text-white group">
                        <span class="relative z-10 transition-colors duration-500 group-hover:text-black">Send</span>
                        <span class="absolute left-0 top-0 h-full w-0 bg-[#f4f4f4] transition-all duration-500 group-hover:w-full"></span>
                    </button>
                </div>
              </div>
        </div>
    </div>
</article>