<app-navbar></app-navbar>
<main class="space-y-6">
    <section class="home bg-no-repeat bg-cover bg-center relative min-h-screen" style="background-image: url('assets/images/home.webp')">
        <div class="overlay overlay flex justify-center items-center absolute inset-0 bg-black/45 text-white text-center">
        </div>
    </section>
    <section class="categories">
        <div class="categories-body px-4 sm:px-14 md:px-16 lg:px-20">
            <div class="categories-title">
                <h2 class="text-xl md:text-2xl lg:text-3xl text-center font-bold text-mainColor capitalize py-6 sm:py-7 md:py-9 lg:py-12">
                    check our categories
                </h2>
            </div>
            <div class="categories-content grid grid-cols-2 gap-x-4 sm:gap-x-6 md:gap-x-9 xl:gap-x-12">
                <div class="rooms">
                    <figure class="rooms-image relative overflow-hidden group rounded-lg">
                        <a routerLink="/rooms">
                            <img src="assets/images/rooms.webp" loading="lazy" alt="rooms-image" class="w-full">
                            <div class="layer absolute left-0 top-full w-full h-full bg-black/40 flex justify-center items-center group-hover:top-0 transation-[top] duration-300">
                                <h2 class="text-white text-sm sm:text-lg md:text-xl lg:text-4xl font-semibold sm:font-bold">
                                    Rooms
                                </h2>
                            </div>
                        </a>
                    </figure>
                    <div class="rooms-shop pt-4">
                        <a routerLink="/rooms" class="flex items-center gap-x-1 sm:gap-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"
                                class="w-[18px] sm:w-[20px] lg:w-[24px] xl:w-[28px] hover:animate-move-right" fill="#5f6368">
                                <path d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
                            </svg>
                            <span class="text-[13px] sm:text-[15px] md:text-base lg:text-lg xl:text-xl hover:text-mainColor">
                                Shop Rooms
                            </span>
                        </a>
                    </div>
                </div>
                <div class="collections">
                    <div class="collections-image relative overflow-hidden group rounded-lg">
                        <a routerLink="/collections">
                            <img src="assets/images/collections.webp" loading="lazy" alt="collections-image"
                                class="w-full">
                            <div
                                class="layer absolute left-0 top-full w-full h-full bg-black/40 flex justify-center items-center group-hover:top-0 transation-[top] duration-300">
                                <h2 class="text-white text-sm sm:text-lg md:text-xl lg:text-4xl font-semibold sm:font-bold">
                                    Collections
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="collections-shop pt-4">
                        <a routerLink="/collections" class="flex items-center gap-x-1 sm:gap-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"
                                class="w-[18px] sm:w-[20px] lg:w-[24px] xl:w-[28px] hover:animate-move-right" fill="#5f6368">
                                <path d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
                            </svg>
                            <span class="text-[13px] sm:text-[15px] md:text-base lg:text-lg xl:text-xl hover:text-mainColor">
                                Shop Collections
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services pb-14">
        <div class="services-body px-4 sm:px-14 md:px-16 lg:px-20">
            <h2 class="text-xl md:text-2xl lg:text-3xl text-center text-mainColor font-bold py-6 sm:py-7 md:py-9 lg:py-12">Our Services</h2>
            <div class="services-content hidden sm:grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-x-4 sm:gap-x-8 gap-y-6">
                <div class="fast-shipping text-center bg-[#dcdcdc45] py-10 px-3 sm:px-6 space-y-2 rounded-3xl">
                    <div class="icon flex justify-center pb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="#680a08" class="w-8 sm:w-9 lg:w-11">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z">
                            </path>
                        </svg>
                    </div>
                    <h3 class="text-[15px] md:text-lg lg:text-xl font-semibold">Fast Shipping</h3>
                    <p class="text-[15px] md:text-[17px] lg:text-[19px] text-gray-700">Free delivery for order over $100.00</p>
                </div>
                <div class="secure-payment text-center bg-[#dcdcdc45] py-10 px-3 sm:px-6 space-y-2 rounded-3xl">
                    <div class="icon flex justify-center pb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="#680a08" class="w-8 sm:w-9 lg:w-11">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z">
                            </path>
                        </svg>
                    </div>
                    <h3 class="text-[15px] md:text-lg lg:text-xl font-semibold">Secure Payment</h3>
                    <p class="text-[15px] md:text-[17px] lg:text-[19px] text-gray-700">Safe & more secure way to pay online.</p>
                </div>
                <div class="online-support text-center bg-[#dcdcdc45] py-10 px-3 sm:px-6 space-y-2 rounded-3xl">
                    <div class="icon flex justify-center pb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="#680a08" class="w-8 sm:w-9 lg:w-11">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0l6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z">
                            </path>
                        </svg>
                    </div>
                    <h3 class="text-[15px] md:text-lg lg:text-xl font-semibold">Online Support</h3>
                    <p class="text-[15px] md:text-[17px] lg:text-[19px] text-gray-700">Feel Free to call us & get best support.</p>
                </div>
                <div class="gift-voucher text-center bg-[#dcdcdc45] py-10 px-3 sm:px-6 space-y-2 rounded-3xl">
                    <div class="icon flex justify-center pb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="#680a08" class="w-8 sm:w-9 lg:w-11">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z">
                            </path>
                        </svg>
                    </div>
                    <h3 class="text-[15px] md:text-lg lg:text-xl font-semibold">Gift Voucher</h3>
                    <p class="text-[15px] md:text-[17px] lg:text-[19px] text-gray-700">Refer a friend & get a surprise gifts.</p>
                </div>
            </div>
            <div class="carousel">
                <owl-carousel-o [options]="customOptions" class="block sm:hidden">
                    <ng-template carouselSlide>
                        <div class="fast-shipping text-center bg-[#dcdcdc45] py-10 px-3 sm:px-6 space-y-2 rounded-3xl">
                            <div class="icon flex justify-center pb-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="#680a08" class="w-7 sm:w-9 lg:w-11">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z">
                                    </path>
                                </svg>
                            </div>
                            <h3 class="text-sm md:text-lg lg:text-xl font-semibold">Fast Shipping</h3>
                            <p class="text-sm md:text-[17px] lg:text-[19px] text-gray-700">Free delivery for order over $100.00</p>
                        </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="secure-payment text-center bg-[#dcdcdc45] py-10 px-3 sm:px-6 space-y-2 rounded-3xl">
                            <div class="icon flex justify-center pb-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="#680a08" class="w-7 sm:w-9 lg:w-11">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z">
                                    </path>
                                </svg>
                            </div>
                            <h3 class="text-sm md:text-lg lg:text-xl font-semibold">Secure Payment</h3>
                            <p class="text-sm md:text-[17px] lg:text-[19px] text-gray-700">Safe & more secure way to pay online.</p>
                        </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="online-support text-center bg-[#dcdcdc45] py-10 px-3 sm:px-6 space-y-2 rounded-3xl">
                            <div class="icon flex justify-center pb-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="#680a08" class="w-7 sm:w-9 lg:w-11">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0l6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z">
                                    </path>
                                </svg>
                            </div>
                            <h3 class="text-sm md:text-lg lg:text-xl font-semibold">Online Support</h3>
                            <p class="text-sm md:text-[17px] lg:text-[19px] text-gray-700">Feel Free to call us & get best support.</p>
                        </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="gift-voucher text-center bg-[#dcdcdc45] py-10 px-3 sm:px-6 space-y-2 rounded-3xl">
                            <div class="icon flex justify-center pb-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="#680a08" class="w-7 sm:w-9 lg:w-11">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z">
                                    </path>
                                </svg>
                            </div>
                            <h3 class="text-sm md:text-lg lg:text-xl font-semibold">Gift Voucher</h3>
                            <p class="text-sm md:text-[17px] lg:text-[19px] text-gray-700">Refer a friend & get a surprise gifts.</p>
                        </div>
                    </ng-template>  
                </owl-carousel-o>
            </div>
        </div>
    </section>

</main>