<section class="categories" #sectionRef>
    <div class="categories-body">
      <div
        class="categories-content bg-[#f6f3eea6] grid grid-cols-4 sm:grid-cols-11 gap-x-4 px-4 sm:px-8 lg:px-0 lg:pr-24 sm:gap-x-6 md:gap-x-8 xl:gap-x-14 py-8 ">
        
        <!-- النص -->
        <div class="shop col-span-5 flex items-center justify-center text-side opacity-0">
          <div class="flex flex-col max-lg:container lg:mb-0 lg:max-w-64 lg:gap-3">
            <p id="Efreshli Looks" class="mb-1 font-normal text-gray-700 lg:mb-0 lg:text-lg">
              la terra Looks
            </p>
            <div class="mb-1 flex items-center justify-between lg:mb-0 ">
              <h2 class="text-xl md:text-2xl lg:text-4xl font-medium ">
                Shop the Look
              </h2>
            </div>
            <p class="text-gray-900 text-sm lg:text-lg mb-6">
              Browse designer room settings and shop individual pieces to recreate these looks in your home.
            </p>
          </div>
        </div>
  
        <!-- الصورة 1 -->
        <div class="rooms col-span-2 sm:col-span-3 image-side opacity-0">
          <figure class="rooms-image relative overflow-hidden group rounded-lg">
            <a routerLink="/rooms">
              <img src="assets/images/ss.png" loading="lazy" alt="rooms-image"
                class="w-full">
              <div
                class="layer absolute left-0 top-full w-full h-full bg-black/40 flex justify-center items-center group-hover:top-0 transation-[top] duration-300">
                <h2
                  class="text-white text-sm sm:text-lg md:text-xl lg:text-4xl font-semibold sm:font-bold">
                  Rooms
                </h2>
              </div>
            </a>
          </figure>
          <div class="rooms-shop flex justify-center pt-4 text-sm md:text-base lg:text-lg">
            <a routerLink="/rooms" class="underline">Shop Rooms</a>
          </div>
        </div>
  
        <!-- الصورة 2 -->
        <div class="collections col-span-2 sm:col-span-3 image-side opacity-0">
          <div class="collections-image relative overflow-hidden group rounded-lg">
            <a routerLink="/collections">
              <img src="assets/images/ss.png" loading="lazy" alt="rooms-image"
                class="w-full">
              <div
                class="layer absolute left-0 top-full w-full h-full bg-black/40 flex justify-center items-center group-hover:top-0 transation-[top] duration-300">
                <h2
                  class="text-white text-sm sm:text-lg md:text-xl lg:text-4xl font-semibold sm:font-bold">
                  Collections
                </h2>
              </div>
            </a>
          </div>
          <div class="collections-shop flex justify-center pt-4 text-sm md:text-base lg:text-lg">
            <a routerLink="/collections" class="underline">Shop Collections</a>
          </div>
        </div>
  
      </div>
    </div>
</section>