<section class="categories" #sectionRef>
    <div class="categories-body">
      <div
        class="categories-content bg-[#f6f3eea6] grid grid-cols-4 sm:grid-cols-11 gap-x-4 px-4 sm:px-8 lg:px-0 lg:pr-24 sm:gap-x-6 md:gap-x-8 xl:gap-x-14 py-8 ">
        
        <!-- النص -->
        <div class="shop col-span-5 flex items-center justify-center text-side opacity-0">
          <div class="flex flex-col lg:mb-0 lg:max-w-80 lg:gap-3">
            <p id="Efreshli Looks" class="mb-1 font-normal text-gray-700 lg:mb-0 lg:text-lg">
              la terra Looks
            </p>
            <div class="mb-1 flex items-center justify-between lg:mb-0 ">
              <h2 class="text-xl md:text-3xl lg:text-4xl font-medium ">
                Shop the Look
              </h2>
            </div>
            <p class="text-gray-900 text-sm md:text-base lg:text-lg mb-6">
              Browse designer room settings and shop individual pieces to recreate these looks in your home.
            </p>
          </div>
        </div>
  
        <!-- الصورة 1 -->
        <div class="rooms col-span-2 sm:col-span-3 image-side opacity-0 perspective">
          <figure class="rooms-image group rounded-lg overflow-hidden">
            <a routerLink="/rooms">
              <img src="assets/images/ss.png" loading="lazy" alt="rooms-image transition-transform duration-500 hover:rotate-y-12 hover:rotate-x-6 transform"
                class="w-full group-hover:rotate-6  group-hover:scale-125 duration-300 ease-in-out ">
            </a>
          </figure>
          <div class="rooms-shop flex justify-center pt-4 text-sm md:text-base lg:text-lg">
            <a routerLink="/rooms" class="underline">Shop Rooms</a>
          </div>
        </div>
  
        <!-- الصورة 2 -->
        <div class="collections col-span-2 sm:col-span-3 image-side opacity-0">
          <figure class="collections-image group rounded-lg overflow-hidden">
            <a routerLink="/collections">
              <img src="assets/images/ss.png" loading="lazy" alt="rooms-image"
                class="w-full group-hover:rotate-6  group-hover:scale-125 duration-300 ease-in-out">
            </a>
          </figure>
          <div class="collections-shop flex justify-center pt-4 text-sm md:text-base lg:text-lg">
            <a routerLink="/collections" class="underline">Shop Collections</a>
          </div>
        </div>
  
      </div>
    </div>
</section>