<article class="about">
    <div class="about-body px-4 sm:px-14 md:px-16 lg:px-20 space-y-3 sm:space-y-5">
        <header>
            <h1 class="text-center text-xl md:text-[22px] lg:text-[26px] text-mainColor font-bold pb-3 pt-6 sm:pt-10 sm:pb-2 md:pt-8 lg:pt-12 lg:pb-6 uppercase">Who We Are</h1>
        </header>
        <div class="content">
            <p class="text-sm sm:text-base md:text-[17px] lg:text-lg"><span class="font-semibold">La Terra’s</span> journey began with the pursuit of
                stability and the rapid development seen among the global com munity of designers and modern furniture
                experts in Europe. We
                started by redesigning pieces and rooms from international
                ,brands such as TURRI, CAllIGARIS, ENNE
                POLTRONAFRAU, JNKMIAMI, and ESSENZAMOVIES
                We then developed a team of the most skilled designers to start
                our own creative journey with original designs that reflect the surrounding environment and culture
            </p>
            <div class="vision pt-4 sm:pt-6">
                <h2 class="text-lg md:text-xl lg:text-2xl text-mainColor font-semibold py-3 capitalize">our vision</h2>
                <p class="text-sm sm:text-base md:text-[17px] lg:text-lg">To become leaders in designing natural furniture in the Middle East by
                    offering the best pieces in terms of appearance and quality, creating a
                    ,unique atmosphere in every space with elegance and distinction
                </p>
            </div>
            <div class="mission pt-4 sm:pt-6">
                <h2 class="text-lg md:text-xl lg:text-2xl text-mainColor font-semibold py-3 capitalize">our mission</h2>
                <p class="text-sm sm:text-base md:text-[17px] lg:text-lg pb-10"><span class="font-semibold">LA TERRA</span>, we commit to
                    delivering the highest quality in luxury furniture design and manufacturing. By using the finest
                    materials and
                    the latest technologies, we aim to create a unique experience for our
                    clients through furniture pieces that combine elegance with functionality, giving every home a
                    special touch and making each piece a
                    ,symbol of uniqueness and beauty
                </p>
            </div>
        </div>
    </div>
</article>