<a [routerLink]="['/product-details', product.id]">
    <div class="product border border-solid border-[rgba(128, 128, 128, .16)] shadow-4xl p-2 sm:p-4">
        <figure class="product-image relative overflow-hidden">
            <img [src]="product.imgUrl" loading="lazy" [alt]="product.name + ' image'" class="w-full hover:scale-[1.2] transition-transform duration-300 ease-in-out"/>
            <p class="stock absolute bottom-0 left-0 text-white bg-green-600 px-1.5 py-0.5 xl:py-1 text-[11px] lg:text-xs xl:text-[15px]">
                In Stock
            </p>
        </figure>
        <div class="product-content bg-[#f9fafb70] pt-3 space-y-1">
            <div class="product-title">
                <h2 class="text-sm sm:text-lg lg:text-[19px] xl:text-[21px] font-semibold capitalize">{{product.name}}</h2>
            </div>
            <div class="product-price">
                <p class="text-[13px] sm:text-sm lg:text-base xl:text-[17px]">EGP {{product.price | number : '1.0-0'}}</p>
            </div>
        </div>
    </div>
</a>
