
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 


@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';

:root {
    --bg-toast-success: #22c55e; /* Tailwind green-500 */
    --bg-toast-error: #ef4444;   /* Tailwind red-500 */
  }
  

@layer utilities {
    .toast-success {
      @apply w-[300px] h-[60px] my-[15px] relative bg-white pt-[15px] pl-[8px] rounded-lg text-[#8a8888] shadow-[0_0px_8px_-1px_rgba(0,0,0,0.1),_0_0px_6px_-2px_rgba(0,0,0,0.1)];
      transform: translateX(-100%);
      animation: moveLeft 0.3s linear forwards;
    }
  
    .toast-success::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      background-color: var(--bg-toast-success);
      border-bottom-left-radius: 8px;
      animation: disappear 3s linear forwards;
    }
  
    .toast-error {
      @apply w-[300px] h-[60px] my-[15px] relative bg-white pt-[15px] pl-[8px] rounded-lg text-[#8a8888] shadow-[0_0px_8px_-1px_rgba(0,0,0,0.1),_0_0px_6px_-2px_rgba(0,0,0,0.1)];
      transform: translateX(-100%);
      animation: moveLeftError 0.3s linear forwards;
    }
  
    .toast-error::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      background-color: var(--bg-toast-error);
      border-bottom-left-radius: 8px;
      animation: disappearError 3s linear forwards;
    }
  
    @keyframes moveLeft {
      100% {
        transform: translateX(0);
      }
    }
  
    @keyframes moveLeftError {
      100% {
        transform: translateX(0);
      }
    }
  
    @keyframes disappear {
      100% {
        width: 0;
      }
    }
  
    @keyframes disappearError {
      100% {
        width: 0;
      }
    }
  }
  .animate-on-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .animate-on-scroll.show {
    opacity: 1;
    transform: translateY(0);
  }
  /* styles.css أو global styles */
.show {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}

/* Add this to your custom CSS file */
/* تأكد من إضافة هذا الكود في ملف الـ CSS الخاص بك */
.btn {
  position: relative;
  color: white;
  z-index: 10; /* رفع النص فوق الخلفية */
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4; /* أو أي لون آخر تريده */
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.9s ease;
  z-index: -1; /* التأكد من أن الخلفية تكون تحت النص */
}

.btn:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

  
  
  

   